<h1>LandingPage#index</h1>
<p>Find me in app/views/landing_page/index.html.erb</p>
<%= render 'landing_page/shared/services' %>
<%= render 'landing_page/shared/team' %>
<%= render 'landing_page/shared/contact' %>
<%= render 'landing_page/shared/footer' %>
<%= render 'landing_page/shared/navbar' %>

